.clients {
	@include adaptiveValue("padding-top", 120, 75, 2, 1250, 768);
	@include adaptiveValue("padding-bottom", 130, 80, 2, 1250, 768);
	padding-top: toRem(75);
	padding-bottom: toRem(80);

	background-color: var(--bg1);

	.page-about-us__clients & {
		margin: toRem(-1) 0;

		background-color: var(--primary);
		color: var(--white);
	}

	@media (max-width: $mobileSmall) {
		padding-top: toRem(40);
		padding-bottom: toRem(45);
	}

	// .clients__container
	&__container {
	}

	// .clients__wrapper
	&__wrapper {
	}

	// .clients__top
	&__top {
		.page-about-us__clients & {
			display: grid;
			grid-row-gap: toRem(15);

			margin-bottom: toRem(16);

			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(11);
			}
		}
	}

	// .clients__title
	&__title {
		margin-bottom: toRem(55);

		.page-about-us__clients & {
			margin-bottom: 0;
		}
	}

	// .clients__btn-swap
	&__btn-swap {
		.page-about-us__clients & {
			justify-self: end;

			font-size: toRem(32);
		}
	}

	// .clients__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(157px, 176px));
		grid-gap: toRem(16);
		justify-content: center;

		.page-about-us__clients & {
			@include adaptiveValue("grid-gap", 15, 12, 0, 1250, 479);
			grid-template-columns: repeat(3, minmax(320px, 370px));

			@media (max-width: em(1099.98)) {
				grid-template-columns: repeat(2, minmax(320px, 370px));
			}

			@media (max-width: $mobile) {
				grid-template-columns: repeat(2, minmax(240px, 370px));
			}

			@media (max-width: em(599.98)) {
				grid-template-columns: minmax(240px, 370px);
			}
		}

		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fill, minmax(157px, 211px));
		}

		@media (max-width: em(499.98)) {
			column-gap: toRem(6);
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .clients__item
	&__item {
		padding: 8.152174% 10.869565%; /* 30/368 */
		aspect-ratio: 368 / 188;

		border-radius: 5px;
		background-color: var(--white);

		transform: scale(1);
		transition: transform 0.3s ease 0s;

		.page-home__clients &,
		.page-serv__clients & {
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.046);
				}
			}
		}

		.page-about-us__clients & {
			position: relative;
		}
	}

	// .clients__logo
	&__logo {
		width: 100%;
		height: 100%;
	}

	// .clients__item-back
	&__item-back {
		.page-about-us__clients & {
			position: absolute;
			inset: toRem(-1);

			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;

			padding: 4% 8.152174%; /* 30/368 */

			border-radius: toRem(5);

			& p {
				overflow: clip;
				hyphens: auto;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4; // к-сть рядків - висоту можна не встановлювати- додається автоматично
				-webkit-box-orient: vertical;
			}
		}
	}
}
