.faq {
	background-color: var(--bg1);

	// .faq__container
	&__container {
	}

	// .faq__wrapper
	&__wrapper {
	}

	// .faq__title
	&__title {
		@include adaptiveValue("margin-bottom", 65, 45, 2, 1250, 768);
		margin-bottom: toRem(45);

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(35);
		}
	}

	// .faq__spollers
	&__spollers {
		@include adaptiveValue("margin-bottom", 50, 35, 2, 1250, 375);
		margin-bottom: toRem(35);

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(30);
		}
	}

	// .faq__call-act
	&__call-act {
	}
}

.spollers-faq {
	// .spollers-faq__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}

	// .spollers-faq__title
	&__title {
		position: relative;
		z-index: 3;

		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: toRem(13);

		@include adaptiveValue("padding-top", 13, 16, 2, 1250, 768);
		@include adaptiveValue("padding-bottom", 13, 16, 2, 1250, 768);
		padding: toRem(16) toRem(24);

		background-color: var(--white);
		border-radius: toRem(5);
		color: var(--primary);
		cursor: pointer;
		list-style: none;
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;

		@media (max-width: $mobileSmall) {
			padding: toRem(18) toRem(24);
		}

		&::after {
			content: "";

			justify-self: end;

			width: toRem(20);
			height: toRem(20);

			background-image: url("@img/faq/plus.svg");
			background-position: center center; /* x y */
			background-size: contain;
			background-repeat: no-repeat;

			transition: all 0.3s ease 0s;
		}

		&._spoller-active {
			background-color: var(--primary);
			color: var(--white);

			&::after {
				width: toRem(16);
				height: toRem(16);

				background-image: url("@img/faq/minus.svg");
			}
		}
	}

	// .spollers-faq__body
	&__body {
		position: relative;
		top: toRem(-8);

		display: flex;
		gap: toRem(15);
		align-items: center;

		padding: toRem(30) toRem(24) toRem(21);

		background-color: var(--white_transp-55);
		border-radius: 5px;

		& p {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}

		&._icon-logo-small:before {
			font-size: toRem(32);

			@media (max-width: $mobile) {
				display: none;
			}
		}
	}

	// .spollers-faq__txt
	&__txt {
	}
}
