.guide {
	background-color: var(--bg2);

	@include adaptiveValue("padding-top", 120, 75, 2, 1250, 768);
	@include adaptiveValue("padding-bottom", 130, 80, 2, 1250, 768);
	padding: toRem(75) 0 toRem(80);

	@media (max-width: $mobileSmall) {
		padding: toRem(40) 0 toRem(50);
	}

	// .guide__container
	&__container {
	}

	// .guide__wrapper
	&__wrapper {
	}

	// .guide__title
	&__title {
		@include adaptiveValue("margin-bottom", 50, 40, 0, 1250, 768);
	}

	// .guide__list
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: toRem(16);
		justify-content: space-between;

		@media (max-width: em(749.98)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
			justify-items: center;
		}

		&.guide__list_lg-items {
			@media (min-width: $mobileSmall) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	// .guide__item
	&__item {
	}
}

.guide-item {
	position: relative;

	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-gap: toRem(30);

	@include adaptiveValue("padding-top", 47, 36, 0, 1250, 768);
	@include adaptiveValue("padding-right", 47, 36, 0, 1250, 768);
	@include adaptiveValue("padding-left", 47, 36, 0, 1250, 768);
	@include adaptiveValue("padding-bottom", 47, 36, 0, 1250, 768);

	color: var(--white);

	.guide__list_lg-items & {
		@include adaptiveValue("padding-top", 60, 36, 0, 1250, 768);
		@include adaptiveValue("padding-bottom", 60, 36, 0, 1250, 768);

		@media (min-width: $mobile) {
			grid-template: auto 1fr / 1fr auto;
			grid-gap: toRem(15) toRem(55);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			& .guide-item__underlay {
				transform: scale(1.027);
				-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
				-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
			}

			& .guide-item__icon {
				transform: scale(1.9);
				transform-origin: 0 0;

				.guide__list_lg-items & {
					transform: scale(1.5);
				}
			}

			& .guide-item__title {
				transform: translate(0, toRem(60));

				.guide__list_lg-items & {
					transform: translate(toRem(150), 0) scale(1.5);
				}
			}

			& .guide-item__txt {
				opacity: 0;
				transition: opacity 0.3s linear 0s;
			}
		}
	}

	// .guide-item_primary
	&_primary {
		& .guide-item__underlay {
			background-color: var(--primary);
		}
	}

	// .guide-item_highlight
	&_highlight {
		& .guide-item__underlay {
			background-color: var(--highlight);
		}
	}

	// .guide-item_complimentary
	&_complimentary {
		& .guide-item__underlay {
			background-color: var(--complimentary);
		}
	}

	// .guide-item_cta
	&_cta {
		& .guide-item__underlay {
			background-color: var(--cta);
		}
	}

	// .guide-item__underlay
	&__underlay {
		position: absolute;
		inset: 0;

		border-radius: 5px;

		transition:
			transform 0.6s ease 0s,
			box-shadow 0.7s ease 0s;
	}

	// .guide-item__icon
	&__icon {
		margin-bottom: toRem(12);
		aspect-ratio: 1 / 1;
		@include adaptiveValue("width", 80, 67, 0, 1250, 768);

		transform: scale(1);
		transform-origin: 0 0;
		transition: all 0.5s linear 0s;

		.guide__list_lg-items & {
			@media (min-width: $mobile) {
				grid-row: 1 / -1;

				margin-bottom: 0;
			}
		}
	}

	// .guide-item__title
	&__title {
		transform: translate(0, 0);
		transition: transform 0.5s linear 0s;
	}

	// .guide-item__txt
	&__txt {
		position: relative;

		opacity: 1;
		transition: opacity 0.9s linear 0s;
	}

	// .guide-item__link
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
	}
}
