//===== HERO SECTION ===================================================

.hero {
	background-color: var(--primary);
	color: var(--white);

	// .hero__container
	&__container {
	}

	// .hero__wrapper
	&__wrapper {
		display: grid;

		grid-template: auto 1fr / 1fr 16.140351%; /* 184/1140 */
		@include adaptiveValue("column-gap", 100, 75, 0, 1250, 768);

		@media (max-width: $tablet) {
			grid-template: auto 1fr / 1fr 22.7%;
		}

		@media (max-width: em(629.98)) {
			grid-template: repeat(3, auto) / 1fr;
		}

		// grid-template: auto auto auto / auto 1fr;
		// row-gap: toRem(43);
		// @include adaptiveValue("column-gap", 100, 35, 0, 1250, 768);
		// @media (max-width: em(629)) {
		// 	grid-template: repeat(4, auto) / 1fr;
		// }
	}

	// .hero__breadcrumbs
	&__breadcrumbs {
		grid-column: 1 / -1;

		@include adaptiveValue("margin-bottom", 53, 58, 2, 1250, 768);
		margin-bottom: toRem(53);

		@media (max-width: em(629.98)) {
			margin-bottom: toRem(25);
		}
	}

	// .hero__title
	&__title {
	}

	// .hero__txt
	&__txt {
	}

	// .hero__btn
	&__btn {
	}

	// .hero__right-col
	&__right-col {
		display: grid;
		grid-gap: toRem(23);

		@media (min-width: em(630)) {
			grid-row: 1 / -1;
			grid-column: 2 / -1;
			align-self: end;

			justify-items: end;
		}

		@media (max-width: em(629.98)) {
			justify-items: center;
		}

		@media (max-width: em(419.98)) {
			justify-items: start;
		}

		& .hero__btn {
			@media (max-width: em(629)) {
				grid-row: 2 / -1;
				grid-gap: toRem(29);
			}
		}
	}

	.hero__right-col &__right-col {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			gap: toRem(20);

			padding-top: toRem(9);
		}
	}

	// .hero__image
	&__image {
	}
}

.page-home__hero {
	& .hero__wrapper {
		grid-template: auto auto auto / 1fr 32.280702%;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 100, 35, 0, 1250, 768);

		@media (max-width: $mobile) {
			grid-template: auto auto / 1fr 32%;
		}

		@media (max-width: em(629)) {
			grid-template: auto auto auto / 1fr;
		}
	}

	& .hero__title {
		margin-bottom: toRem(35);

		@media (max-width: $mobile) {
			margin-bottom: toRem(30);
		}

		@media (max-width: em(629)) {
			margin-bottom: toRem(25);
		}
	}

	& .hero__txt {
		@media (min-width: $mobile) {
			margin-bottom: toRem(15);
		}

		& p {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	& .hero__btn {
		@media (min-width: $mobile) {
			justify-self: start;
		}

		@media (max-width: em(629.98)) {
			align-self: center;
		}

		@media (max-width: em(419.98)) {
			align-self: flex-start;
		}
	}

	& .hero__right-col {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			gap: toRem(20);

			padding-top: toRem(9);
		}

		@media (max-width: em(629)) {
			flex-direction: column-reverse;
			gap: toRem(35);
		}

		@media (min-width: em(630)) {
			grid-column: 2 / -1;
			grid-row: 1 / -1;
			align-self: start;
		}
	}

	& .hero__image {
		@media (max-width: em(629)) {
			align-self: center;
		}

		&.interact-img {
			// @include adaptiveValue("width", 368, 216, 2, 1250, 768);
			// width: toRem(216);
			max-width: toRem(368);
		}
	}
}

.page-bl-list__hero {
	& .hero__title {
		@media (max-width: em(629.98)) {
			margin-bottom: toRem(60);
		}
	}

	& .hero__image {
		justify-self: center;
	}
}

.interact-img {
	position: relative;

	aspect-ratio: 1 / 1;
	width: 100%;

	@media (max-width: em(629.98)) {
		max-width: toRem(368);
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--white);
		border-radius: 20px;

		transform: rotate(2deg);
		transition: transform 0.3s ease 0s;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;

		background-image: url("@img/home/border.svg");
		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 3;

		transform: rotate(-4deg);
		transition: transform 0.3s ease 0s;
	}

	// .interact-img__photo
	&__photo {
		aspect-ratio: 1 / 1;
		width: 100%;

		border-radius: 20px;
		overflow: hidden;

		transform: rotate(-2deg);
		transition: transform 0.3s ease 0s;
	}

	@media (any-hover: hover) {
		&:hover {
			&::after,
			&::before,
			& .interact-img__photo {
				transform: rotate(0deg);
			}
		}
	}
}

//================================== >>>>> HERO SECTION ================
