//===== PATH SECTION ===================================================

.path {
	background-color: var(--bg2);

	@include adaptiveValue("padding-top", 110, 80, 2, 1250, 768);
	@include adaptiveValue("padding-bottom", 120, 80, 2, 1250, 768);
	padding-top: toRem(80);
	padding-bottom: toRem(80);

	@media (max-width: $mobileSmall) {
		padding-top: toRem(45);
		padding-bottom: toRem(50);
	}

	&.page-serv__path {
		@include adaptiveValue("padding-bottom", 100, 45, 2, 1250, 768);
		padding-bottom: toRem(45);

		@media (max-width: $mobileSmall) {
			padding-bottom: toRem(20);
		}
	}

	// .path__container
	&__container {
	}

	// .path__wrapper
	&__wrapper {
	}

	// .path__top
	&__top {
		display: flex;
		gap: toRem(10);

		@include adaptiveValue("margin-bottom", 40, 50, 0, 1250, 768);

		@media (max-width: em(549)) {
			flex-direction: column;
			gap: toRem(33);

			margin-bottom: toRem(40);
		}
	}

	// .path__title
	&__title {
		flex: 1 1 auto;
	}

	// .path__decor-img
	&__decor-img {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 472, 205, 0, 1250, 768);

		@media (max-width: em(549)) {
			flex-basis: auto;
		}

		& img {
			width: 100%;
		}
	}

	// .path__list
	&__list {
		@media (min-width: $mobile) {
			margin-bottom: toRem(10);
		}
	}

	// .path__item
	&__item {
		&:nth-child(even) {
			position: relative;

			&::after {
				content: "";
				position: absolute;

				height: 100%;
				width: 100%;
				top: 0;
				right: 0;

				background-color: var(--white_transp-40);
				border-radius: 5px;

				@media (max-width: $tablet) {
					width: 150%;
					right: 50%;
					transform: translate(50%, 0);
				}
			}
		}
	}

	// .path__bottom
	&__bottom {
	}
}

.item-path {
	display: grid;
	grid-template: 1fr auto / 1fr auto;
	grid-column-gap: toRem(40);
	grid-row-gap: toRem(10);

	padding-top: toRem(25);
	padding-bottom: toRem(25);

	@media (min-width: $tablet) {
		padding-left: toRem(40);
		padding-right: toRem(40);
	}

	@media (max-width: $mobile) {
		grid-gap: toRem(20);
	}

	@media (max-width: $mobileSmall) {
		grid-column-gap: toRem(20);
		grid-row-gap: toRem(10);
	}

	// .item-path__icon
	&__icon {
		grid-column: 1 / 2;
		grid-row: 1 / -1;
		margin-top: 7.936508%; /* 10/126 */

		@media (max-width: $mobile) {
			grid-row: 2 / -1;
		}

		& img {
			width: toRem(64);
		}
	}

	// .item-path__title
	&__title {
		@media (max-width: $mobile) {
			grid-row: 1 / 2;
			grid-column: 1 / -1;
		}
	}

	// .item-path__txt
	&__txt {
		grid-row: 2 / -1;
		grid-column: 2 / -1;

		@media (max-width: em(349.98)) {
			text-align: justify;
		}

		& p {
			&:not(:last-child) {
				margin-bottom: em(5, 18);
			}
		}
	}

	&__icon,
	&__title,
	&__txt {
		position: relative;
		z-index: 3;
	}

	// .item-path_mod
	&_mod {
	}

	// .item-path__btn
	&__btn {
	}
}

.item-path.item-path_mod {
	grid-template: 1fr auto / auto auto 1fr;

	@media (max-width: $mobile) {
		grid-template: 1fr auto auto / 1fr auto;
	}

	& .item-path__title {
		grid-column: 2 / 3;

		@media (max-width: $mobile) {
			grid-column: 1 / -1;
		}
	}

	& .item-path__txt {
		grid-column: 2 / 3;

		@media (max-width: $mobile) {
			grid-column: 2 / -1;
			grid-row: 2 / 3;
		}
	}

	& .item-path__btn {
		grid-row: 1 / -1;

		@media (min-width: $mobile) {
			margin-top: toRem(25);
		}

		@media (max-width: $mobile) {
			grid-column: 2 / -1;
			grid-row: 3 / -1;
			justify-self: start;
		}
	}
}

//================================== >>>>> PATH SECTION ================
