.text {
	@include adaptiveValue("padding-bottom", 60, 50, 2, 1250, 768);
	padding-bottom: toRem(50);

	background-color: var(--bg1);

	@media (max-width: $mobileSmall) {
		padding-bottom: toRem(45);
	}

	// .text__container
	&__container {
	}

	// .text__wrapper
	&__wrapper {
	}

	// .text__item
	&__item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 45, 2, 1250, 768);
			margin-bottom: toRem(45);

			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(30);
			}
		}

		// .text__item_intro
		&_intro {
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}

	// .text__title
	&__title {
		padding-bottom: toRem(2);
		@include adaptiveValue("margin-bottom", 26, 19, 0, 1250, 768);

		border-bottom: 1px solid var(--highlight);

		// .text__title_btn
		&_btn {
			display: flex;
			column-gap: toRem(50);
			row-gap: toRem(17);
			justify-content: space-between;
			align-items: self-end;

			@media (max-width: em(569.98)) {
				flex-direction: column;
				align-items: flex-start;

				border-bottom: none;
			}

			& h3 {
				@media (max-width: em(569.98)) {
					width: 100%;
					padding-bottom: toRem(5);
					margin-bottom: toRem(4);

					border-bottom: 1px solid var(--highlight);
				}
			}

			& button {
				@include adaptiveValue("margin-bottom", 10, 6, 2, 1250, 768);
				margin-bottom: toRem(6);

				@media (max-width: em(569.98)) {
					margin-bottom: 0;
				}
			}

			& p {
				@media (min-width: em(569.98)) {
					display: none;
				}
			}
		}
	}

	// .text__subtitle
	&__subtitle {
		margin-bottom: toRem(20);
	}

	// .text__txt
	&__txt {
		& p:not(:last-child) {
			margin-bottom: toRem(25);
		}

		& a {
			text-decoration: underline;
			transition: color 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					color: var(--highlight_hover);
				}
			}
		}
	}

	// .text__image
	&__image {
	}

	// .text__list
	&__list {
		@include adaptiveValue("padding-top", 35, 25, 2, 1250, 768);
		padding-top: toRem(25);

		@media (max-width: $mobileSmall) {
			padding-top: toRem(22);
		}
	}

	// .text__accordeon-item
	&__accordeon-item {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20, 0, 1250, 768);
		}
	}

	// .text__promo
	&__promo {
		@include adaptiveValue("margin-top", 60, 45, 2, 1250, 768);
		margin-top: toRem(45);
	}
}

.summary {
	@media (min-width: $tablet) {
		margin-left: toRem(17);
	}
	// .summary_light
	&_light {
	}

	// .summary_ok
	&_ok {
		@media (min-width: $tablet) {
			margin-left: toRem(0);
		}
	}

	// .summary__item
	&__item {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		grid-column-gap: toRem(35);

		&:not(:last-child) {
			margin-bottom: toRem(30);
		}

		@media (max-width: $mobileSmall) {
			grid-column-gap: toRem(16);
		}

		.text__list & {
			@include adaptiveValue("grid-column-gap", 32, 22, 2, 1250, 768);
			grid-column-gap: toRem(22);

			@media (max-width: $mobileSmall) {
				grid-column-gap: toRem(16);
			}
		}

		// .summary__item_highlighted
		&_highlighted {
			& svg path {
				fill: var(--primary);
			}

			& .popup-serv__title-item {
				margin-bottom: toRem(8);
			}
		}

		.summary_ok & {
			@include adaptiveValue("column-gap", 19, 12, 0, 1250, 768);
		}
	}

	// .summary__icon
	&__icon {
		grid-row: 1 / -1;

		width: toRem(48);

		@media (max-width: $mobileSmall) {
			width: toRem(24);

			.text__list & {
				width: toRem(40);
			}
		}

		& svg {
			width: 100%;
			height: auto;
		}

		&._icon-ok {
			display: flex;
			justify-content: center;
			align-items: center;

			@include adaptiveValue("width", 28, 24, 2, 1250, 768);
			width: toRem(24);
			@include adaptiveValue("height", 28, 24, 2, 1250, 768);
			height: toRem(24);

			background-color: var(--primary);
			border-radius: 50%;
			color: var(--white);
			@include adaptiveValue("font-size", 14, 12, 2, 1250, 768);
			font-size: toRem(12);

			@media (max-width: $mobileSmall) {
				width: toRem(20);
				height: toRem(20);

				font-size: toRem(10);
			}
		}
	}

	// .summary__title-item
	&__title-item {
		font-weight: 700;
	}

	// .summary__txt
	&__txt {
		.summary_light &,
		.summary_ok & {
			grid-row: 1 / -1;
			align-self: center;
		}
	}
}

.txt-img {
	// .txt-img__wrapper
	&__wrapper {
		display: grid;
		grid-template: 1fr / 1fr auto;
		@include adaptiveValue("grid-column-gap", 30, 16, 0, 1250, 768);

		@media (max-width: $mobileSmall) {
			grid-template: 1fr auto / 1fr;
			grid-row-gap: toRem(20);
		}
	}

	// .txt-img__wrapper-float-l
	&__wrapper-float-l {
		& .txt-img__image {
			@include adaptiveValue("margin-right", 30, 16, 0, 1250, 768);

			@media (min-width: $mobileSmall) {
				float: left;
			}
		}
	}

	// .txt-img__wrapper-float-r
	&__wrapper-float-r {
		& .txt-img__image {
			@include adaptiveValue("margin-left", 30, 16, 0, 1250, 768);

			@media (min-width: $mobileSmall) {
				float: right;
			}
		}
	}

	// .txt-img__wrapper-float-l, .txt-img__wrapper-float-r
	&__wrapper-float-l,
	&__wrapper-float-r {
		& .txt-img__image {
			margin-bottom: toRem(8);

			@media (max-width: $mobileSmall) {
				margin-bottom: toRem(30);
			}
		}
	}

	// .txt-img__image
	&__image {
		position: relative;

		aspect-ratio: 160 / 144;
		@include adaptiveValue("width", 160, 136, 2, 1250, 768);
		width: toRem(136);

		border-radius: 5px;
		overflow: hidden;

		@media (max-width: $mobileSmall) {
			max-width: toRem(320);
			width: auto;
		}

		// .txt-img__image_lg
		&_lg {
			@include adaptiveValue("width", 276, 136, 2, 1250, 768);
			width: toRem(136);

			@media (max-width: $mobileSmall) {
				max-width: toRem(320);
				width: auto;
			}
		}
	}

	// .txt-img__image-layer
	&__image-layer {
		position: absolute;
		inset: 0;
		background: linear-gradient(180deg, var(--highlight_transp-0), var(--highlight_transp-70) 100%);
	}

	// .txt-img__txt
	&__txt {
	}
}

.accord {
	@media (min-width: $mobile) {
		display: flex;
		@include adaptiveValue("gap", 18, 8, 0, 991, 768);
	}

	& .paragraph p:not(:last-child) {
		margin-bottom: toRem(15);
	}
	// .accord__navigation
	&__navigation {
		display: grid;
		grid-gap: toRem(8);
		align-content: start;

		@media (max-width: em(849.98)) {
			flex: 0 0 50%;
		}

		@media (min-width: $mobile) {
			flex: 0 0 toRem(367);
		}
	}

	// .accord__title
	&__title {
		display: grid;
		grid-template-columns: auto auto 1fr;
		align-items: center;
		grid-gap: toRem(12);

		min-height: toRem(48);
		padding: toRem(7) toRem(16);

		background-color: var(--white_transp-95);
		border-radius: toRem(5);
		line-height: 144%;

		transition: all 0.3s ease 0s;

		@media (max-width: $mobile) {
			width: 100%;
			margin-bottom: toRem(8);
		}

		& span {
			display: flex;
			align-items: center;
			justify-content: center;

			& svg path {
				fill: var(--primary);
			}
		}

		& p {
			// --- text in 1 row + "..." at the end (delete and it'll be in several rows)
			text-overflow: ellipsis;
			overflow: hidden;
			text-wrap: nowrap;
			// --- text in 1 row + "..." at the end >>>
		}

		&::after {
			justify-self: end;

			margin-left: toRem(4);

			content: "\e909";
			font-family: "icons";
			font-size: toRem(16);
		}

		&._tab-active {
			background-color: var(--primary);
			color: var(--white);

			& svg path {
				fill: var(--white);
			}

			&::after {
				content: "\e902";
				font-size: toRem(5);
			}
		}
	}

	// .accord__content
	&__content {
	}

	// .accord__body
	&__body {
	}

	// .accord__body-wrap
	&__body-wrap {
		display: grid;
		grid-template-columns: auto 1fr;
		@include adaptiveValue("grid-gap", 20, 15, 0, 991, 768);

		@include adaptiveValue("padding-top", 30, 20, 0, 991, 768);
		@include adaptiveValue("padding-bottom", 30, 20, 0, 991, 768);
		@include adaptiveValue("padding-right", 25, 15, 0, 991, 768);
		@include adaptiveValue("padding-left", 25, 15, 0, 991, 768);

		background-color: var(--white_transp-40);
		border-radius: toRem(5);

		@media (max-width: em(399.98)) {
			grid-template: auto 1fr / 1fr;
		}

		& svg {
			@include adaptiveValue("width", 48, 24, 0, 991, 768);
			@include adaptiveValue("height", 48, 24, 0, 991, 768);

			& path {
				fill: var(--highlight);
			}
		}
	}

	// .accord__txt
	&__txt {
	}
}

.txt-promo {
	position: relative;

	display: flex;

	background-color: var(--primary);
	border-radius: toRem(5);
	overflow: hidden;
	color: var(--white);

	@media (max-width: $mobile) {
		align-items: start;
	}

	& h4 {
		@media (max-width: $mobileSmall) {
			@include adaptiveValue("margin-left", 85, 70, 0, 479, 320);
			margin-bottom: toRem(15);
		}
	}

	// .txt-promo__img
	&__img {
		flex: 0 0 23.859649%; /* 272/1140 */

		border-radius: toRem(5) 0 0 0;
		overflow: hidden;

		@media (max-width: $mobile) {
			aspect-ratio: 152 / 131;

			border-radius: toRem(5) 0 toRem(5) 0;
		}

		@media (max-width: $mobileSmall) {
			position: absolute;
			width: toRem(70);
			top: 0;
			left: 0;
		}
	}

	// .txt-promo__content
	&__content {
		display: flex;
		@include adaptiveValue("gap", 15, 10, 0, 1250, 768);
		flex-direction: column;
		align-items: start;

		@include adaptiveValue("padding-top", 27, 15, 0, 1250, 768);
		@include adaptiveValue("padding-bottom", 30, 15, 0, 1250, 768);
		@include adaptiveValue("padding-right", 60, 25, 2, 1250, 768);
		@include adaptiveValue("padding-left", 60, 25, 2, 1250, 768);
		padding-right: toRem(25);
		padding-left: toRem(25);

		@media (max-width: $mobileSmall) {
			padding-right: toRem(15);
			padding-left: toRem(15);
		}

		& .text__txt {
			margin-bottom: toRem(5);
		}
	}
}
