// ===============
// colors palette
// ===============
:root {
	--primary: #272b49;
	--highlight: #309ae0;
	--highlight_transp-0: rgba(48, 153, 224, 0);
	--highlight_transp-90: rgba(48, 153, 224, 0.9);
	--highlight_hover: #0b77bf;
	--bg1: #cce8f6;
	--bg2: #e5f6fe;
	--bg_footer: #f5f5f7;
	--cta: #ab30bf;
	--cta_transp-0: rgba(171, 48, 191, 0);
	--cta_transp-90: rgba(171, 48, 191, 0.9);
	--cta_hover: #8d0fa2;
	--white: #fff;
	--white_transp-40: rgba(255, 255, 255, 0.4);
	--white_transp-60: rgba(255, 255, 255, 0.6);
	--white_transp-95: rgba(255, 255, 255, 0.95);
	--light_blue: #e5f6fe;
	--black: #000;
	--faq_color: #b0bdc3;
	--bg_form: #fff;
	--cat1: #309ae0;
	--cat2: #2baf68;
	--cat3: #af2b2b;
	--cat4: #4629bb;
	--cat5: #e03084;
	--cat6: #e07a30;
	--cat7: #6a0dad;
	--cat8: #008b8b;
	--guide_color: #ef767a;
	--complimentary: #c22d63;
}
