body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 15px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	@media (max-width: em(599.98)) {
		padding: 7px 7px 30px;
	}
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	width: 100%;
	max-width: 1160px;
	border-radius: 5px;
	.lock & {
		visibility: visible;
	}
}

// ----- Custom Settings --------------------------

// ----- Hero-block - popup -----------------------

.popup-hero {
	display: flex;

	background-color: var(--white_transp-95);
	border-radius: toRem(5);

	// .popup-hero__column
	&__column {
		&:first-child {
			position: relative;

			padding: toRem(50) toRem(80) toRem(55) toRem(95);

			@media (max-width: em(1149.98)) {
				padding: toRem(30) toRem(45) toRem(35) toRem(35);
			}

			@media (max-width: em(699.98)) {
				padding: toRem(30) toRem(20) toRem(35) toRem(20);
			}

			@media (max-width: em(599.98)) {
				padding: toRem(20) toRem(20) toRem(25) toRem(20);
			}
		}

		&:last-child {
			padding: toRem(50) toRem(50) toRem(55);

			background-color: var(--primary);
			border-radius: 5px;

			@media (max-width: em(1149.98)) {
				padding: toRem(30) toRem(35) toRem(35);
			}

			@media (min-width: $tablet) {
				color: var(--white);
			}

			@media (max-width: $tablet) {
				display: none;
			}
		}
	}

	// .popup-hero__close
	&__close {
		position: absolute;
		top: toRem(5);
		right: toRem(5);
		@include adaptiveValue("top", 40, 5, 2, 1250, 992);
		@include adaptiveValue("right", 35, 5, 2, 1250, 992);

		padding: toRem(10);

		&._icon-close::before {
			font-size: toRem(16);

			transition: color 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				&._icon-close::before {
					color: var(--highlight);
				}
			}
		}

		@media (max-width: em(599.98)) {
			top: toRem(20);
			right: toRem(20);
		}
	}

	// .popup-hero__txt-bl
	&__txt-bl {
		display: grid;
		grid-row-gap: toRem(30);
		@include adaptiveValue("grid-column-gap", 120, 30, 3, 991, 768);

		margin-bottom: toRem(35);

		@media (max-width: $tablet) {
			grid-template: auto 1fr / 270px auto;
		}

		@media (max-width: em(649.98)) {
			grid-template: auto 1fr / 1fr auto;
		}

		@media (max-width: em(599.98)) {
			grid-template: repeat(4, auto) / 1fr;
			grid-row-gap: toRem(25);

			margin-bottom: toRem(45);
		}
	}

	// .popup-hero__title
	&__title {
		@media (max-width: em(599.98)) {
			margin-bottom: toRem(5);
		}
	}
	// .popup-hero__subtitle
	&__subtitle {
		max-width: toRem(565);

		@include adaptiveValue("font-size", 35, 24, 0, 1250, 768);
		line-height: 120%;

		@media (max-width: $tablet) {
			display: none;
		}

		@media (max-width: $mobile) {
			line-height: 130%;
		}

		& img {
			display: inline-block;
			max-width: toRem(252);
			@include adaptiveValue("width", 252, 174, 0, 1250, 768);
		}
	}

	// .popup-hero__forms-block
	&__forms-block {
	}

	// .popup-hero__descript-txt
	&__descript-txt {
		line-height: 144%;

		@media (min-width: $tablet) {
			margin-bottom: toRem(25);
		}

		@media (max-width: $tablet) {
			font-size: toRem(24);
			font-weight: 700;
			line-height: 130%;
		}
	}

	// .popup-hero__benefits
	&__benefits {
	}
}

.forms-block {
	// .forms-block__navigation
	&__navigation {
		display: flex;
		gap: toRem(30);

		@include adaptiveValue("margin-bottom", 35, 20, 0, 1250, 768);
	}

	// .forms-block__title
	&__title {
		display: flex;
		align-items: center;
		gap: toRem(6);

		@include adaptiveValue("font-size", 18, 16, 0, 1250, 768);

		& span {
			display: flex;
			align-items: center;
			justify-content: center;

			width: toRem(16);
			height: toRem(16);

			border: 1px solid var(--highlight);
			border-radius: 50%;

			&::before {
				content: "";

				height: toRem(12);
				width: toRem(12);

				background-color: var(--highlight);
				border-radius: 50%;
				opacity: 0;

				transition: opacity 0.3s ease 0s;
			}
		}

		&._tab-active span::before {
			opacity: 1;
		}
	}

	// .forms-block__content
	&__content {
	}

	// .forms-block__item
	&__item {
	}

	// .forms-block__body
	&__body {
	}
}

.callb-form {
	display: grid;
	grid-template: 1fr auto / 1fr 1fr auto;
	grid-column-gap: toRem(8);
	grid-row-gap: toRem(27);
	align-items: end;

	@media (max-width: $mobile) {
		grid-row-gap: toRem(11);
	}

	@media (max-width: em(599.98)) {
		grid-template: repeat(4, auto) / 1fr;
	}

	// .callb-form__inp
	&__inp {
		position: relative;

		display: grid;
		gap: toRem(3);

		@media (max-width: em(599.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(4);
			}
		}

		& label {
			color: var(--highlight);
			@include adaptiveValue("font-size", 18, 16, 0, 1250, 768);
		}

		& input {
			height: toRem(36);
			padding: 0 toRem(15);

			border: 1px solid var(--highlight);
			border-radius: 5px;

			font-size: toRem(16);

			@media (max-width: em(599.98)) {
				height: toRem(44);
			}

			&._form-error {
				background-color: rgba(175, 43, 43, 0.15);
			}
		}

		& .form__error {
			position: absolute;

			bottom: toRem(-15);
			left: toRem(10);

			color: var(--cat3);
			font-size: toRem(12);
		}
	}

	// .callb-form__priv-pol
	&__priv-pol {
	}

	// .callb-form__submit
	&__submit {
		@media (max-width: em(599.98)) {
			grid-row: 4 / -1;
			justify-self: start;
		}
	}

	// .callb-form__priv-pol
	&__priv-pol {
		grid-column: 1 / -1;

		font-size: toRem(12);
		line-height: 108.333333%; /* 13/12 */

		@media (max-width: em(599.98)) {
			margin-bottom: toRem(9);
		}

		& a {
			text-decoration: underline;
		}
	}
}

.benefits-popup {
	// .benefits-popup__title
	&__title {
		@media (min-width: $tablet) {
			margin-bottom: toRem(30);
		}

		@media (max-width: $tablet) {
			display: none;
		}

		@media (max-width: em(599.98)) {
			display: block;

			font-size: toRem(16);
		}
	}

	// .benefits-popup__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(28);

		@media (max-width: $tablet) {
			grid-column: 2 / -1;
			grid-row: 1 / -1;
			gap: toRem(22);

			margin-top: toRem(7);

			font-size: toRem(16);
		}

		@media (max-width: em(699.98)) {
			margin-top: toRem(12);
		}

		@media (max-width: em(599.98)) {
			grid-column: 1 / -1;
			grid-row: 4 / -1;
			gap: toRem(22);

			margin-top: 0;
		}
	}

	// .benefits-popup__item
	&__item {
		display: flex;
		align-items: baseline;
		gap: toRem(12);

		line-height: 144%;

		@media (max-width: $tablet) {
			gap: toRem(10);
		}

		@media (max-width: em(599.98)) {
			gap: toRem(11);
		}

		& span.ok-icon {
			&._icon-ok:before {
				color: var(--primary);

				@media (max-width: $tablet) {
					color: var(--white);
					font-size: toRem(12);
				}

				@media (max-width: em(599.98)) {
					font-size: toRem(10);
				}
			}

			@media (min-width: $tablet) {
				background-color: var(--white);
			}

			@media (max-width: $tablet) {
				flex: 0 0 toRem(24);
			}

			@media (max-width: em(599.98)) {
				flex: 0 0 toRem(20);
			}
		}
	}
}

// ----- Services-block - popups -------------------

.popup-serv {
	position: relative;

	@include adaptiveValue("padding", 35, 32, 2, 1250, 768);
	padding: toRem(32);

	background-color: var(--white_transp-95);
	border-radius: toRem(5);

	@media (max-width: $mobileSmall) {
		padding: toRem(24);
	}

	// .popup-serv__close
	&__close {
		position: absolute;
		@include adaptiveValue("top", 16, 10, 0, 1250, 768);
		@include adaptiveValue("right", 16, 10, 0, 1250, 768);
		z-index: 50;

		&._icon-close::before {
			font-size: toRem(16);

			transition: color 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				&._icon-close::before {
					color: var(--highlight);
				}
			}
		}
	}

	// .popup-serv__list
	&__list {
		margin-bottom: toRem(35);
	}

	// .popup-serv__item
	&__item {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		grid-column-gap: toRem(35);

		&:not(:last-child) {
			margin-bottom: toRem(30);
		}

		@media (max-width: $mobileSmall) {
			grid-column-gap: toRem(16);
		}

		// .popup-serv__item_highlighted
		&_highlighted {
			& svg path {
				fill: var(--primary);
			}

			& .popup-serv__title-item {
				margin-bottom: toRem(8);
			}
		}
	}

	// .popup-serv__icon
	&__icon {
		grid-row: 1 / -1;

		width: toRem(48);

		@media (max-width: $mobileSmall) {
			width: toRem(24);
		}

		& svg {
			width: 100%;
			height: auto;
		}
	}

	// .popup-serv__title-item
	&__title-item {
		font-weight: 700;
	}

	// .popup-serv__txt
	&__txt {
	}

	// .popup-serv__btn-panel
	&__btn-panel {
		margin-left: toRem(83);

		display: flex;
		gap: toRem(8);
		flex-wrap: wrap;

		@media (max-width: $mobileSmall) {
			margin-left: toRem(40);
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .popup-serv__btn
	&__btn {
	}
}
