//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	@include adaptiveValue("height", 55, 44, 0, 992, 768);
	@include adaptiveValue("padding-right", 22, 15, 0, 992, 768);
	@include adaptiveValue("padding-left", 22, 17, 0, 992, 768);

	color: var(--white);
	background-color: var(--cta);
	border-radius: toRem(5);

	@include adaptiveValue("font-size", 18, 16, 0, 992, 768);
	line-height: 160%;

	transform: scale(1);
	transition: all 0.3s ease-in 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.03);

			background-color: var(--cta_hover);
		}
	}

	&--sm {
		height: toRem(36);
	}

	&--fw {
		width: 100%;
	}
}

.button_highlight {
	background-color: var(--highlight);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--highlight_hover);
		}
	}
}
