//===== HERO SECTION ========================================================

.hero-about {
	background-color: var(--primary);
	color: var(--white);

	// .hero-about__container
	&__container {
	}

	// .hero-about__wrapper
	&__wrapper {
	}

	// .hero-about__breadcrumbs
	&__breadcrumbs {
		@include adaptiveValue("margin-bottom", 70, 35, 2, 1250, 768);
		margin-bottom: toRem(35);

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(30);
		}
	}

	// .hero-about__title
	&__title {
	}

	// .hero-about__intro-txt
	&__intro-txt {
		@include adaptiveValue("margin-top", 50, 35, 0, 1250, 768);

		& p {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}
}

//================================== >>>>> HERO SECTION =====================

//===== TEAM SECTION ========================================================

.team {
	// .team__container
	&__container {
	}

	// .team__wrapper
	&__wrapper {
	}

	// .team__ctrl-panel
	&__ctrl-panel {
	}

	// .team__btn
	&__btn {
		// .team__btn_people
		&_people {
		}

		// .team__btn_values
		&_values {
		}
	}

	// .team__body
	&__body {
	}

	// .team__card
	&__card {
	}
}

.card-people {
	// .card-people__content
	&__content {
	}

	// .card-people__photo
	&__photo {
	}

	// .card-people__hover
	&__hover {
	}

	// .card-people__hover-txt
	&__hover-txt {
	}

	// .card-people__caption
	&__caption {
	}
}

.card-values {
	// .card-values__front
	&__front {
	}

	// .card-values__icon
	&__icon {
		// .card-values__icon_front
		&_front {
		}

		// .card-values__icon_back
		&_back {
		}
	}

	// .card-values__back
	&__back {
	}

	// .card-values__txt
	&__txt {
	}
}

//================================== >>>>> TEAM SECTION =====================
