.articles-sugg {
	background-color: var(--bg2);

	@media (max-width: $mobileSmall) {
		display: none;
	}

	// .articles-sugg__container
	&__container {
	}

	// .articles-sugg__wrapper
	&__wrapper {
	}

	// .articles-sugg__top
	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(50);

		margin-bottom: toRem(45);
	}

	// .articles-sugg__title
	&__title {
	}

	// .articles-sugg__btn
	&__btn {
	}

	// .articles-sugg__content
	&__content {
	}

	// .articles-sugg__list
	&__list {
	}
}
