// Заголовки, загальні БЕМ блоки та інше...

//===== Side-Margins ===================================================

.wrap {
	@media (min-width: em(700)) {
		margin: 0 toRem(25);
	}
}

//===== Underline ======================================================

.underline {
	position: relative;

	white-space: nowrap;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: toRem(-10);

		height: toRem(12);
		width: 100%;

		background-image: url("@img/underline-sm.svg");

		background-size: 100%;
		background-repeat: no-repeat;
	}
}

.popup__title .underline::after {
	bottom: toRem(-5);
}

//===== Icon-OK ======================================================

.ok-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	aspect-ratio: 1 / 1;
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 28, 20, 0, 1250, 768);

	background-color: var(--primary);
	border-radius: 50%;

	&._icon-ok:before {
		color: var(--white);

		@include adaptiveValue("font-size", 14, 11, 0, 1250, 768);
	}
}

//===== Call to Action - block =======================================

.call-action {
	display: flex;
	gap: toRem(20);

	@media (max-width: $mobile) {
		align-items: flex-end;
	}

	@media (min-width: em(670)) {
		align-items: center;
	}

	@media (max-width: em(669.98)) {
		flex-direction: column;
		align-items: flex-start;
		gap: toRem(5);
	}

	// .call-action__txt
	&__txt {
		position: relative;

		@media (max-width: $mobile) {
			margin-bottom: toRem(4);
		}

		@media (max-width: em(669.98)) {
			margin-bottom: 0;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: toRem(4);
			left: 0;
			bottom: toRem(-4);
			background-color: var(--highlight);

			@media (max-width: em(670)) {
				display: none;
			}
		}
	}

	// .call-action__btn
	&__btn {
	}
}

//===== Breadcrumbs ==================================================

.breadcrumbs {
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		gap: toRem(5);
	}

	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(5);

		line-height: 130%;

		// .breadcrumbs__item_home
		&_home {
			font-weight: 300;
		}

		// .breadcrumbs__item_curr
		&_curr {
			font-weight: 700;
		}

		& a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		& span {
			font-weight: 300;
		}
	}
}
