// Заголовки, загальні БЕМ блоки та інше...

//===== Side-Margins ===================================================

.wrap {
	@media (min-width: em(700)) {
		margin: 0 toRem(25);
	}
}

//===== Underline ======================================================

.underline {
	position: relative;

	white-space: nowrap;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: toRem(-10);

		height: toRem(12);
		width: 100%;

		background-image: url("@img/underline-sm.svg");

		background-size: 100%;
		background-repeat: no-repeat;
	}
}

.popup__title .underline::after {
	bottom: toRem(-5);
}

//===== Icon-OK ======================================================

.ok-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	aspect-ratio: 1 / 1;
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 28, 20, 0, 1250, 768);

	background-color: var(--primary);
	border-radius: 50%;

	&._icon-ok:before {
		color: var(--white);

		@include adaptiveValue("font-size", 14, 11, 0, 1250, 768);
	}
}
