.footer {
	background-color: var(--bg_footer);

	& h3 {
		margin-bottom: toRem(20);

		font-size: toRem(20);
		line-height: 130%;
		text-transform: uppercase;

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(25);
		}
	}

	// .footer__container
	&__container {
	}

	// .footer__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 30.789474%; /* 351/1140 */
		gap: toRem(50);

		@include adaptiveValue("margin-top", 128, 80, 2, 1250, 768);
		@include adaptiveValue("margin-bottom", 128, 80, 2, 1250, 768);
		margin-top: toRem(80);
		margin-bottom: toRem(80);

		@media (max-width: $mobile) {
			grid-template: auto auto / 1fr;
		}

		@media (max-width: $mobileSmall) {
			gap: toRem(135);

			margin-top: toRem(43);
			margin-bottom: toRem(48);
		}
	}

	// .footer__menu
	&__menu {
		@media (max-width: $mobile) {
			grid-row: 2 / -1;
		}
	}

	// .footer__contacts
	&__contacts {
	}
}

.menu-footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include adaptiveValue("gap", 50, 30, 0, 767, 500);

	@media (max-width: $mobileSmall) {
		grid-template: 1fr auto / 1fr;
	}

	// .menu-footer__column
	&__column {
		display: grid;
		gap: toRem(59);

		@media (min-width: $mobile) {
			grid-template-rows: 1fr auto;
		}
	}

	// .menu-footer__items
	&__items {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .menu-footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(55);
		}
	}

	// .menu-footer__socials
	&__socials {
	}

	// .menu-footer__btn
	&__btn {
		justify-self: start;

		@media (max-width: $mobile) {
			align-self: end;
		}
	}

	// .menu-footer__title
	&__title {
	}

	// .menu-footer__list
	&__list {
		color: var(--black);

		& li {
			@include adaptiveValue("font-size", 18, 16, 0, 1250, 768);
			line-height: 140%;

			&:not(:last-child) {
				margin-bottom: toRem(14);
			}
		}
	}
}

.contacts {
	// .contacts__title
	&__title {
	}

	// .contacts__items
	&__items {
		display: grid;
		@include adaptiveValue("gap", 54, 30, 2, 767, 500);
		gap: toRem(30);

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
			gap: toRem(25);
		}
	}

	// .contacts__item
	&__item {
		display: grid;
		gap: toRem(14);
		align-content: start;

		color: var(--black);

		& a,
		& p {
			@include adaptiveValue("font-size", 18, 16, 2, 1250, 768);
			font-size: toRem(16);
			line-height: 140%;

			@media (max-width: $mobileSmall) {
				font-size: toRem(18);
			}
		}
	}

	// .contacts__item-title
	&__item-title {
		display: flex;
		align-items: center;
		gap: toRem(11);

		margin-bottom: toRem(2);

		font-weight: 700;
	}

	// .contacts__item-icon
	&__item-icon {
		aspect-ratio: 26 / 14;
		height: toRem(14);
	}
}

.socials {
	// .socials__list
	&__list {
		display: flex;
		gap: toRem(9);

		@media (max-width: $mobile) {
			gap: toRem(7);
		}

		@media (max-width: $mobileSmall) {
			gap: toRem(9);
		}
	}

	// .socials__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 1 / 1;
		@include adaptiveValue("width", 56, 44, 2, 1250, 768);
		width: toRem(44);

		background-color: var(--primary);
		border-radius: toRem(10);
		cursor: pointer;

		transition: background-color 0.3s ease 0s;

		@media (max-width: $mobileSmall) {
			width: toRem(56);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(39, 43, 73, 0.9);
			}
		}
	}

	// .socials__link
	&__link {
	}

	// .socials__img
	&__img {
		aspect-ratio: 36 / 32;
		@include adaptiveValue("width", 36, 28, 2, 1250, 768);
		width: toRem(28);

		@media (max-width: $mobileSmall) {
			width: toRem(36);
		}
	}
}
